/* colors */
/* light purple: edecf4 */
/* light blue : caeefa */

/***** body stuff *****/

html {
			background: #333; 

			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover; 
			background-size: cover;
		}

body {
	background-color: transparent;
	font-family: 'Lato', sans-serif;
    color: #fff;
}

h1 {
    font-size:5em;
}

h2 {
    font-size:2em;
}

a, a:link {
    color: #80CFCF;
    text-decoration: none;
}

a:hover {
    color: #CF4A40;
}

