/* colors */
/* light purple: edecf4 */
/* light blue : caeefa */

/***** body stuff *****/

html {
			background: #333; 

			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover; 
			background-size: cover;
		}

body {
	background-color: transparent;
	font-family: 'Lato', sans-serif;
    color: #fff;
}

h1 {
    font-size:5em;
}

.centered {
  position: fixed;
  top: 20%;
  left: 20%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}